*{
    font-family:monospace;
}
h1{
    font-size:40px;
    color: brown;
    font-weight: bold;
}
.Name{
color: blue;
}
.School{
color: crimson;
}
.Total{
color:blueviolet;
}
.Score{
color: darkgreen;
}
.container{
    text-align: center;
}