# Java compiled files
*.class

# Maven
target/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse / Spring Tool Suite
.project
.classpath
.settings/
.metadata/
.factorypath
*.launch

# VS Code
.vscode/

# Log files
*.log

# Environment files
.env
.env.*

# Operating System files
.DS_Store
Thumbs.db

# Ignore log folder
log/